*.DS_Store
*.xcuserstate
AHS/AHS/GoogleService-Info.plist
*.xcworkspacedata
AHS/AHS.xcodeproj/project.pbxproj
AHS/AHS.xcworkspace/xcuserdata/*
AHS/AHS.xcodeproj/xcuserdata/*
AHS/Pods/Pods.xcodeproj/xcuserdata/*
